*{
    background-color: black;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.upper-line {
    display: flex;
    font-size: 16px;
   
}

p {
    font-size: 16px;
    max-width: 21.2rem;
    width: 100%;
    margin-bottom: 350px;
    margin-left: 48px;
    margin-top: 34px;
}

.list-order {
    display:flex;
    margin-top: 34px;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
}

li {
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    text-decoration: none;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration : none;
}


a:hover{
    text-decoration : underline;
    color: #7FEF4A;
    transition: ease-in-out 0.2s;
} 

.big-hendo {
    font-size: 350px;
    position: fixed;
    margin-top: -109px;
    color: #32CD32;
}
